@import '../../styles/varibles';

.main {
    .up {
        margin: 3rem 0;
        text-align: center;
        width: 100%;
        h1 {
            font-size: 58px;
            text-align: center;
            span {
                color: $sg-orange;
            }
        }
        
        p {
            font-size: 24px;
            line-height: 1.5;
            color: $sg-black-50;
        }
        .btn {
            width: fit-content;
            font-weight: 550;
            padding: 12px 24px;
            background-color: $sg-orange;
            color: #fff;
            border: none;
            border-radius: 100px;
            cursor: pointer;
        }
    }
}


//slider


.mySwiper{
    display: flex;
    justify-content: center;
}

.swiper{
display: flex;
flex-direction: column;
align-items: start;
}
.Cart{
    height: 600px;
    .imgSec{
        display: contents;
        object-fit: contain;
        padding-top: 80px;
        .img3{
            border-radius:15px ;
            border: none;
            padding: 0px !important;
        }
    }
    .content{
        width: 17rem;
        .head{
            display: flex;
            gap: 14px;
            align-items: center;
            width: fit-content;
            .line{
                display: flex;
                align-items: center;
                border: 1px solid black;
                width: 22px;
                height: 0;
            }
            .heading{
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #000;
            }
            .subhead{
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: rgba(17,17,21,.25);
            }
        }
        .para{
            display: flex;
            // width: 400px;
            font-weight: 700;
            font-size: 20px;
            color: #4d4a42;
        }
    }
}
