@import '../../styles/varibles';

.main {
    .first{
        padding-top: 2rem;
        padding-bottom: 1.4rem;
        background-color: $sg-blue;
        .firstCol{
            color: $sg-white;
            line-height: 1.4rem;

            h3{
                font-size:2rem;
                font-weight: 600;
            }
            p{
                font-size: 0.9rem;
                font-weight: 400;
            }
            .input{
                padding: 2rem 0;
                .inputfield{
                    border: 2px solid $sg-white;
                    background-color: $sg-blue;
                    color: $sg-white;
                    padding-left: 1.2rem;
                    height:3rem;
                    width: 20rem;
                    border-radius: 8rem;

                    ::placeholder{
                        color:$sg-white;
                    }
                }
            }
        }
        
    }
    .second{
        .leftCol{
            margin:1rem 0;
            border: 2px solid #f3f3f3;
            border-radius: 1rem;
            padding: 1.1rem 0.9rem 1.1rem 1.3rem;
            height: fit-content;
            position: sticky;
            top: 4rem;

            h3{
                font-size: 0.75rem;
                font-weight: 500;
            }
        }
        .rightCol{
            padding-left: 2rem;
            .wrapper {
                .accordian {
                    margin-top: 2rem;
                    .general{
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin: 1rem 0 0.6rem 0;
                    }
                    .item {

                        overflow: hidden;
                    }

                    .title {
                        font-weight: 530;
                        white-space: nowrap;
                        font-family: sans-serif;
                        font-size: 0.9rem;
                        color: #4D4A42;
                        display: flex;
                        // justify-content: space-between;
                        align-items: center;
                        cursor: pointer;

                        .imgsec{
                            padding-right: 0.7rem;
                            width: 0.7rem;
                            height: 100%;
                        }
                    }

                    .content {
                        font-size: 16px;
                        color: $sg-black-50;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.7s ease;
                    }

                    .showContent {
                        max-height: 1000px;
                        font-size: 16px;
                        color: $sg-black-50;
                        transition: max-height 1s ease;
                    }
                }
            }
        }
    }
}    



