@import '../../styles/varibles';

.main {
    padding: 30px 0px 50px 0px;
    background-color: $sg-orange;

    .first {
        display: flex;
        gap: 3rem;
        align-items: center;
        margin-bottom: 70px;

        h2 {
            color: $sg-white;
            font-weight: 600;
            font-size: 40px;
            line-height: 55px;
        }

        p {
            color: $sg-white;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
        }
    }

    .second {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        .secondCol{
            display: flex;
            justify-content: center;
        }
        img {
            width: 97%;
            height: 97%;
        }
    }
}