@import '../../styles/varibles';

.main {
    .meet {
        display: flex;
        gap: 3.5rem;
        margin: 4rem 0;

        .meetCol {
            .padCol {
                padding-right: 1.5rem;

                .head1 {
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: .11em;
                    padding: 10px 16px;
                    background: rgba(96, 170, 240, .05);
                    border-radius: 100px;
                    color: #60aaf0;
                    width: fit-content;
                }

                .head2 {
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 55px;
                    margin-top: 0;
                    margin-bottom: 1rem;

                    span {
                        color: $sg-orange;
                    }
                }

                .para {
                    margin-bottom: 40px;
                    font-size: 16px;
                    color: #666;
                    line-height: 1.5;
                }
            }
        }

        .meetCol2 {
            padding-left: 0.3rem;
            .img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}