@import '../../styles/varibles';

.main {
    .inner {
        margin: 65px 0px;
        display: flex;
        column-gap: 60px;
        .left {
            h3 {
                font-weight: 800;
                font-size: 16px;
                letter-spacing: .11em;
                padding: 10px 16px;
                background: rgba(96, 170, 240, .05);
                border-radius: 100px;
                color: #60aaf0;
                width: fit-content;
            }

            h1 {
                font-size: 36px;
                color: #333;
                width: 70%;

                span {
                    color: $sg-orange;
                }
            }

            p {
                font-size: 16px;
                color: #666;
                line-height: 1.5;
            }

            .filled {
                display: flex;
                margin-top: 50px;
                column-gap: 20px;
                .add {
                    border-radius: 100px;
                    // height: 47px;
                    width: 336px;
                    margin: 6px 0;
                    box-shadow: 0 0 8px rgba(229, 112, 3, .3), 0 0 12px rgba(229, 112, 3, .3), 0 0 18px rgba(229, 112, 3, .3), 0 0 24px rgba(229, 112, 3, .3);
                    border-color: $sg-orange;
                    font-weight: 700;
                    font-size: 16px;
                    padding: 12px 24px;
                }

                .btn {
                    font-size: 16px;
                    background: linear-gradient(135deg, #ff932e, #e57003);
                    color: $sg-white;
                    margin: 6px 0;
                    font-weight: 700;
                    font-size: 16px;
                    padding: 12px 24px;
                    border-radius: 100px;
                    border: none;
                }
            }
        }

        .img {
            width: 90%;
            height: 100%;
        }
    }
}