$sg-orange: #FB8500;
$sg-blue:#1781e4;
$sg-blue-75: #60AAF0;
$sg-black-50:#85837D;
$sg-black-75:#4D4A42;
$sg-black:#151206;
$sg-white:#fff;
$sg-bgColor:#fff8f5;
$border-color: transparent;
$text-font: "Manrope", sans-serif;
$bd:2px solid;