@import '../../styles/varibles';

.floatingSquaresContainer {
  
  .floatingSq {
    position: fixed;
    bottom: 4.5rem;
    right: -7rem;
    transition: right 0.5s ease;
    display: flex;
    align-items: center;
    background-color: $sg-orange;
    border-radius: 7px;
    width: 9rem;
    margin: 5px;

    &:hover { 
      right: -1rem;
    }
  }

  .floatingSquare {
    bottom: 2rem;
    @extend .floatingSq;
  }
  
  .calendarIcon {

    width: 1.7rem;
    height: auto;
    padding: 4px;

  }
  .message {

    font-size: 0.7rem;
    color: $sg-white;
    padding: 4px;

  }
  
}