@import '../../styles/varibles';

.main {
    background-color: $sg-blue;
    padding: 4rem 0;

    .meet {
        display: flex;
        gap: 3.5rem;
        // margin: 4rem 0;

        .meetCol {
            .padCol {
                padding-right: 1.5rem;
                color: $sg-white;

                .head1 {
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: .11em;
                    padding: 8px 16px;
                    background: hsla(0, 0%, 100%, .19);
                    border-radius: 100px;

                    width: fit-content;
                }

                .head2 {
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 55px;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }

                p {
                    margin-bottom: 40px;
                    font-size: 16px;
                    line-height: 1.5;
                }

                .btn {
                    background: transparent;
                    color: $sg-white;
                    border: 2px solid $sg-white;
                    font-size: 14px;
                    padding: 0.6rem 1rem;
                    // border: none;
                    cursor: pointer;
                    border-radius: 100px;
                }
            }
        }

        .meetCol2 {
            padding-left: 0.3rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}