@import '../../styles/varibles';

.main{
    margin:100px 85px;
    .first{
        margin-bottom: 40px;
        justify-content: center;
        text-align: center;
        .head1{
            margin: 0;
            font-size: 50px;
            font-weight: 650;
            span{
                color: $sg-orange;
            }
        }
        .head2{
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            color: $sg-black-50;
        }
    }
    .second{
        .gaping{
            display: flex;
            gap: 2rem;
        }
        .img{
            max-width: 100%;
            height: auto;
        }
        .head3{
            margin-top: 32px;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            color:$sg-black;
            margin-bottom: 10px;
        }
        .para{
            font-size: 16px;
            line-height: 1.5;
            color:$sg-black-50;
        }
    }
}