@import "../../styles/varibles";

.main {
    overflow: clip;
    display: flex;
    background-color: $sg-blue;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 2.5rem;

    .head {
        font-family: $text-font;
        font-size: clamp(0.7rem, 1.5vw, 9rem);
        font-weight: 550;
        color: $sg-white;
        white-space: nowrap;
    }
    .btn{
        position: fixed;
        right: 0;
    }

}