@import '../../styles/varibles';

.mainRow{
	margin-top: -1px;
	z-index: 3;
	position: sticky;
	top: 0;
	padding: 0.4rem 0;
	.mainCol{
		.innerRow{
			.logoSec{
				display: flex;
				align-items: center;
				.img{
					width: 6rem;
					height: auto;
				}
			}

			.item{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.menu{
					background-color: transparent;
				}
			}
			.btnbox{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.btn{
					border: none;
					font-size: clamp(0.6rem ,1vw, 1rem);
					border-radius: 5rem;
					padding: 0.5rem 0.9rem;
					white-space: nowrap;
				}
			}
		}
	}
}