@import '../../styles/varibles';

@mixin button-styles($background:linear-gradient(135deg, #ff932e, #e57003), $color:$sg-white, $border:none ) {
    background: $background;
    color: $color;
    margin: 6px 0;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 100px;
    border: $border;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0;

        span {
            color: $sg-orange;
        }
    }

    .subpara {
        text-align: center;
        color: $sg-black-50;
        width: 41vw;
    }

    .mainRow {
        display: flex;
        justify-content: center;
        align-items: center;

        .leftCol {
            background-color: $sg-orange;
            border-radius: 18px;
            padding: 2rem;
            color: $sg-white;
            margin: 18px;

            img {
                width: 3rem;
                height: 100%;
                object-fit: contain;
            }

            .polBtn {
                @include button-styles($sg-white, $sg-orange, none);
            }
        }

        .rightCol {
            object-fit: cover;

            .subRow {
                .cirCol, .payCol {
                    background-color: $sg-white;
                    border-radius: 18px;
                    margin: 10px;
                    padding: 0.5rem;

                    img {
                        object-fit: contain;
                    }

                    h2 {
                        color: $sg-black-75;
                    }

                    p {
                        color: $sg-black-50;
                    }
                }

                .payCol {
                    div {
                        display: flex;
                        justify-content: space-around;
                        gap: 3rem;

                        h2 {
                            color: $sg-black-75;
                        }

                        img {
                            object-fit: contain;
                        }
                    }

                    button {
                        @include button-styles;
                    }
                }
            }

            .subRowtwo {
                .thuCol, .ticCol {
                    background-color: $sg-white;
                    border-radius: 18px;
                    margin: 10px;
                    padding: 0.5rem;

                    img {
                        object-fit: contain;
                    }

                    h2 {
                        color: $sg-black-75;
                    }

                    p {
                        color: $sg-black-50;
                    }
                }

                .outer {
                    display: flex;
                    justify-content: space-between;

                    .divone {
                        .subdivone {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
.tick {
    object-fit: contain;
}